@font-face{
		src :url("fonts/MONSTER OF FANTASY.otf");
		font-family:"MONSTER OF FANTASY";
}
/* --------------------------------------------------------------------- */
body{
                margin: 0;
}
/* --------------------------------------------------------------------- */
header{
                display: flex;
                width: 100%;
                height: 140px;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-bottom-color: gray;
}
/* --------------------------------------------------------------------- */
nav{
                display: flex;
                justify-content: center;
                align-items: center;  
                width: 45%;
}
/* --------------------------------------------------------------------- */
.icono{
                width: auto;
                height: auto;
                margin-top: -2%;
}
/* --------------------------------------------------------------------- */
.icono img{
                width: 30.8%;
                height: auto;
}
/* --------------------------------------------------------------------- */
.a:link, .a:visited{
                background-color: white;
                border-radius: 15px;
                width: 70%;
                height: 80px;
                text-decoration: none;
                font-size: 22px;
                color: rgb(158, 0, 0);
                margin-left: 27px;
                display: flex;
                justify-content: center;
                align-items: center;
}
/* --------------------------------------------------------------------- */
.a:hover{
                transition: all 1.5s;
                background-color: rgb(216, 215, 215);
}
/* --------------------------------------------------------------------- */
footer{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                height: 140px;
                border-top-style: solid;
                border-top-color: gray;
                border-top-width: 1px;
                align-content: space-around;
                font-family: Georgia, 'Times New Roman', Times, serif;
}
/* --------------------------------------------------------------------- */
.info1{
                margin-top: 20%;
                text-align: justify;
                line-height: 16px;
		width: 15%;
		height: auto;
		padding-bottom: 1%;
}
/* --------------------------------------------------------------------- */
.info2{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 30%;
                margin-top: 0%;
}
/* --------------------------------------------------------------------- */
.info2 img{
                width: 55%;
                height: auto;
}
/* --------------------------------------------------------------------- */
.info2 p{
                margin-top: -12%;
}
/* --------------------------------------------------------------------- */
.info3{
                width: 15%;
                height: auto;
                text-align: justify;
                line-height: 16px;
                margin-top: 20%;
		padding-bottom: 1%;
}
/* --------------------------------------------------------------------- */
.info3 img{
                width: 10%;
                height: auto;
}
/* --------------------------------------------------------------------- */
.fondo{
                width: 100%;
                height: 50%;
}
/* --------------------------------------------------------------------- */
.fondo img{
                width: 100%;
                height: 50%;
}
/* --------------------------------------------------------------------- */
.informacion{
                display: flex;
                flex-direction: column;
                width: auto;
                height: auto;
                margin-left: 4%;
                margin-right: 4%;
                margin-top: 1.5%;
                margin-bottom: 1%;
}
/* --------------------------------------------------------------------- */
.informacion h2{
                font-family: "MONSTER OF FANTASY";
                font-size: 36px;
                margin: 0;
                margin-top: 1%;
                text-align: center;
}
/* --------------------------------------------------------------------- */
.informacion p{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 17px;
                text-align: justify;
                line-height: 28px;
}
/* --------------------------------------------------------------------- */
.embed{
                display: flex;
                justify-content: center;
                margin-bottom: 3%;
}
/* --------------------------------------------------------------------- */
.frase{
        margin-top: -2%;
        margin-bottom: 4.5%;
}
/* --------------------------------------------------------------------- */
.frase h1{
                /* margin-top: -2%; */
		font-family: cursive;
		font-size: 36px;
		color: red;
		text-shadow: 2px 2px 8px gray;
		text-align: center;
}
/* --------------------------------------------------------------------- */
.box{
		display: flex;
		width: 60%;
		height: auto;
		margin: auto;
		margin-bottom: 2%;
}
/* --------------------------------------------------------------------- */
.target{
		width: 250px;
		height: auto;
		border-color: black;
		border-style: solid;
		border-width: 1px;
		border-radius: 16px;
		margin: auto;
		background-color: white;
}
/* --------------------------------------------------------------------- */
.target img{
		width: 250px;	
		height: auto;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		border-bottom-style: solid;
		border-width: 1px;
}
/* --------------------------------------------------------------------- */
.target h2{
		font-family: cursive;
		font-size: 24px;
		text-align: center;
		color: red;
}
/* --------------------------------------------------------------------- */
main{
                margin-top: 3.5%;
                margin-bottom: 5%;
}
/* --------------------------------------------------------------------- */
.target a:link, a:visited, a:hover{
                text-decoration: none;
                color: inherit;
}
/* --------------------------------------------------------------------- */
/* -----------------------------------PAGINA MENU TACC---------------------------------- */
.menu2{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin-bottom: 3.5%;
                margin-top: 3.5%;
}

.card {
                position: relative;
                width: 300px;
                height: 350px;
                margin: 20px;
}

.card .face {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border-radius: 10px;
                overflow: hidden;
                transition: .5s;
}

.card .front {
                transform: perspective(600px) rotateY(0deg);
                box-shadow: 0 5px 10px #000;
}

.card .front img {
                position: absolute;
                width: 100%;
                height: auto;
                object-fit: cover;
}

.card .front h3 {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 45px;
                line-height: 45px;
                color: #fff;
                background: rgba(0,0,0,.4);
                text-align: center;
                margin-bottom: 2%;
}

.card .back {
                transform: perspective(600px) rotateY(180deg);
                background-color: #9d0000;
                padding: 15px;
                color: #f3f3f3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                box-shadow: 0 5px 10px #000;
}

.card .back h3 {
                font-size: 30px;
                margin-top: 20px;
                letter-spacing: 2px;
}

.card .back p {
                font-size: 21px;
                margin: auto;
                letter-spacing: 1px;
} 

.card:hover .front {
                transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
                transform: perspective(600px) rotateY(360deg);
}
/* -------------------------------------Responsive Web Design.-------------------------------- */
@media screen and (max-width:800px){
        body, header, embed, footer{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
				margin: auto;
        }
		.icono{
				margin: auto;
		}
		.icono img{
				width: 100%;
				height: auto;
		}
		nav{
				display: flex;
				flex-direction: column;
				margin: auto;
				margin-top: -13%;
				margin-bottom: 6%;
		}
		a.a{
				letter-spacing: 2px;
				margin-bottom: -8%;
		}
		.informacion p{
				font-size: 22px;
				line-height: 36px;
		}
		.info1, .info2, .info3{
				width: 100%;
				height: auto;
				text-align: center;
				font-size: 22px;
				line-height: 32px;
				margin-top: 5%;
		}
		.info3{
				width: 99%;
		}
		.info2 img{
				width: 70%;
				height: auto;
		}
		.box{
				display: flex;
				flex-direction: column;
				margin: auto;
				width: 100%	;
		}
		.target{
				margin-bottom: 12%;
		}
		.frase{
				margin-bottom: 12%;
		}
}